dynaconf~=3.2.3
pytest~=7.4.3
pytest-cov~=6.0.0
SQLAlchemy~=2.0.22
typer~=0.9.0
nibabel~=5.1.0
numpy==1.26.2
sphinx
mistune==0.8.4
m2r2
numpydoc
sphinx-rtd-theme
pandas
openpyxl
toml~=0.10.2
sqlmodel
